
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


*{
    margin: 0;
    padding: 0;
}



body{
    background-color: hsl(218, 23%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Manrope", sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: max-content;
    min-height: 250px;
    background-color:  hsl(217, 19%, 24%);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    position: relative;


}

.container h5{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.2rem;

}

.container p{
   color: hsl(193, 38%, 86%);
   font-size: 24px;
   font-weight: 800;
   margin: 25px 0;
}


.divider{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

button{

    background-color: hsl(150, 100%, 66%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: 44%;
    cursor: pointer;
}

button img{
    width: 45%;
}

button:hover{
    box-shadow: 2px -3px 33px -2px rgba(82,255,168,1);
}



